@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <img src = "~/images/mascotafeliz.gif " >
    <br><br><br><br><br><br><br>
    <img src = "~/images/fondo4.jpg " width="2500px" />
    
</div>
