@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>

<head>

  <link href="~/css/home.css" rel="stylesheet" type="text/css" title="Color" />
</head>
<body>
    <div id="title"> 
        <img src="~/css/images/mascotafeliz.gif" width="1000px"/>
    </div>
    <div id="indice"> 
        <img src="~/css/images/home.jpg" width="1350px" align="center"/>
    </div>
</body>
</html>
